.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: larger;
  font-weight: bold;
}

.card-content {
  margin-left: 30px;
}

.card-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: medium;
  font-weight: bold;
}

.json-viewer-container {
  height: var(--lwc-sizeLarge, 25rem);
  overflow: auto;
}

.hidden {
  display: none;
}